.square_one{
float: left;
  height: 150px;
  width: 150px;
  background: #da2;
  margin-left: 50px;
  margin-top: 100px;
}

.square_one:hover{
  transform: rotate(180deg);
  transition: 0.7s;
}

.square_two{
  float: left;
  height: 150px;
  width: 150px;
  background: #da2;
  margin-left:150px;
  margin-top: 100px;
}

.square_two:hover{
transform:scale(2,1);
transition: 0.7s;
}

.square_three{
  float: left;
  height: 150px;
  width: 150px;
  background: #ad8;
  margin-left:150px;
  margin-top: 100px;
}

.square_three:hover{
transform: skewX(40deg);
transition: 1s;

}

.square_four{
  float: left;
  height: 150px;
  width: 150px;
  background: #9f4;
  margin-left:150px;
  margin-top: 100px;
}

.square_four:hover{
transform:translate(80px);
transition: 0.7s;
}
