*{
	font-family: monospace;;

}


body {
	background-color: #e1e1d0;
	margin: 20px;
}
header {
	background-color: #AFD1ED;
	text-align: center;
	padding-top: 15px;
	border-radius: 15px;
	width: 100%;
}

#headerlinks {
	background-color: #92ABB0;
	text-align: left;
	display: inline-block;
	padding: 8px;
	width: 98.8%;
}

#headerlinks h3 {
	display: inline;
	padding: 8px;

}

#headerlinks h3 a{
		text-decoration: none;
}

#maincontent {
	display: inline-block;
	float: left;
	background-color: #fff;
	border-radius: 15px;
}

#leftcontent {
	float: left;
	width: 20%;
	border-radius: 15px;
	padding: 10px;
}

#centercontent {
	float: left;
	width: 55%;
	padding: 10px;
}

#rightcontent {
	margin-top: 25px;
	float: left;
	width: 20%;
	border-radius: 15px;
	padding: 10px;
}

#verticalmenu {
	padding: 5px;
	background-color: #FAFCFB;
	display: block;
	border-radius: 15px;
	font-family: "Times New Roman", Times, serif;
}

#verticalmenu h2 {
	background-color:#D9E9F6;
	border-radius : 3px;
}

#verticalmenu a {
	display: block;
	padding: 5px;
}

#newblock {
	padding: 5px;
	border-radius: 5px;
	background-color: #FAFCFB;
	text-align: justify;
	border-radius: 15px;
}

#newblock h2{
	background-color: #E1E6E9;
	border-radius: 3px;
}

p {
	text-align: left;
}

#centercontent span {
	display: block;
	font-size: 16px;
	padding-top: 15px;
}

#centercontent img {
	display: block;
	margin: 0 auto;
}

#searchdiv {
	background-color: #FAFCFB;
	display: block;
	border-radius: 15px;
	padding-bottom: 5px;
}

h2 {
	background-color: #E2E7EA;
	border-radius: 3px;
}

#searchdiv button {
	display: block;
	margin: 10px;
	background-color: #80b3ff;
}

#categorydiv {
	background-color: #FAFCFB;
	border-radius: 15px;
}

#categorydiv a {
	display: block;
	padding: 3px;
}

#archivediv {
		background-color: #FAFCFB;
	border-radius: 15px;
}

footer {
	text-align: center;
}

footer span {
	display: block;
	padding-top: 5px;
}

a:hover {
	background-color: #D9E9F6;
	/* HOVER ON */
	-webkit-transition: background-color .5s;
}
